<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{replace title '<br/>' ' '}}</title>

    <script src="/js/helpers.js"></script>
    <script src="/js/markdown.js"></script>
    <link href='/css/core.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/theme/{{theme}}.css" />
  </head>

  <body id="{{bodyid}}">

    <div class="reveal scaled" id="container">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">

        {{>body}}

      </div>

    </div>

    {{#if strap}}
      {{{glob '_src/views/slides/_common/strap.html'}}}
    {{/if}}
    {{#if sponsors}}
      {{{glob '_src/views/slides/fling/sponsors.html'}}}
    {{/if}}

    <!--<div id="template-overlay" style="position:fixed; top:0; left:0; width:100%; opacity:0.5; z-index:1;"><img src="assets/img/css/scot-js-template.jpg" style="width:100%;" /></div>-->


    <div id="progress-bar"></div>

    <script src="js/highlight-reveal.js"></script>

    <script src="js/core.js"></script>
    <script src="js/dz-extensions.js"></script>
    <script src="js/fragments.js"></script>

  </body>
</html>
