---
title: "Cascade, Specificity and a <br/>Single name space<br/><br/>or: How I learned to stop <br/>worrying and tolerate CSS"
theme: "decadecity"
strap: true
bodyid: "css"
---
{{>intro}}

{{>intro-scotjs}}

<section id="intro">
  {{glob '_src/views/slides/css.scotjs/who-likes-css.html' }}
  {{glob '_src/views/slides/css.scotjs/nobody-likes-css.html' }}
</section>

<section id="cascade">
  {{glob '_src/views/slides/css.scotjs/cascade.html' }}
  {{glob '_src/views/slides/css.scotjs/cascade-rules.html' }}
  {{glob '_src/views/slides/css.scotjs/cascade-declarations.html' }}
</section>

<section id="specificity">
  {{glob '_src/views/slides/css.scotjs/specificity.html' }}
  {{glob '_src/views/slides/css.scotjs/specificity-rules.html' }}
  {{glob '_src/views/slides/css.scotjs/specificity-cascade.html' }}
</section>

<section id="single-name-space">
  {{glob '_src/views/slides/css.scotjs/single-namespace.html' }}
  {{glob '_src/views/slides/css.scotjs/example-10.html' }}
  {{glob '_src/views/slides/css.scotjs/example-20.html' }}
  {{glob '_src/views/slides/css.scotjs/example-30.html' }}
  {{glob '_src/views/slides/css.scotjs/example-40.html' }}
  {{glob '_src/views/slides/css.scotjs/example-50.html' }}
  {{glob '_src/views/slides/css.scotjs/example-result.html' }}
</section>

<section id="preprocessors">
  {{glob '_src/views/slides/css.scotjs/preprocessors.html' }}
  {{glob '_src/views/slides/css.scotjs/nesting.html' }}
</section>

<section id="techniques">
  {{glob '_src/views/slides/css.scotjs/techniques.html' }}

  {{glob '_src/views/slides/css.scotjs/smacss.html' }}
  {{glob '_src/views/slides/css.scotjs/smacss-principles.html' }}

  {{glob '_src/views/slides/css.scotjs/oocss.html' }}
  {{glob '_src/views/slides/css.scotjs/oocss-example.html' }}

  {{glob '_src/views/slides/css.scotjs/bem.html' }}
  {{glob '_src/views/slides/css.scotjs/bem-syntax.html' }}
  {{glob '_src/views/slides/css.scotjs/bem-example.html' }}

  {{glob '_src/views/slides/css.scotjs/js-binding.html' }}
</section>

<section id="outro">
  {{glob '_src/views/slides/css.scotjs/conclusion.html' }}
</section>

{{>outro}}
