---
title: "Cascade, Specificity and a Single name space <br/>or: How I learned to stop worrying and tolerate CSS"
theme: "decadecity"
strap: "true"
ignore: true
---
{{>intro}}

<section id="intro">
  {{glob '_src/views/slides/css/who-likes-css.html' }}
  {{glob '_src/views/slides/css/nobody-likes-css.html' }}
</section>

<section id="anatomy">
  {{glob '_src/views/slides/css/anatomy.html' }}
</section>

<section id="cascade">
  {{glob '_src/views/slides/css/cascade.html' }}
  {{glob '_src/views/slides/css/cascade-rules.html' }}
  {{glob '_src/views/slides/css/cascade-declarations.html' }}
</section>

<section id="specificity">
  {{glob '_src/views/slides/css/specificity.html' }}
  {{glob '_src/views/slides/css/specificity-rules.html' }}
  {{glob '_src/views/slides/css/specificity-cascade.html' }}
</section>

<section id="single-name-space">
  {{glob '_src/views/slides/css/single-namespace.html' }}
  {{glob '_src/views/slides/css/example-10.html' }}
  {{glob '_src/views/slides/css/example-20.html' }}
  {{glob '_src/views/slides/css/example-30.html' }}
  {{glob '_src/views/slides/css/example-40.html' }}
  {{glob '_src/views/slides/css/example-50.html' }}
  {{glob '_src/views/slides/css/example-result.html' }}
</section>

<section id="preprocessors">
  {{glob '_src/views/slides/css/preprocessors.html' }}
  {{glob '_src/views/slides/css/babbage.html' }}
  {{glob '_src/views/slides/css/nesting.html' }}
</section>

<section id="techniques">
  {{glob '_src/views/slides/css/techniques.html' }}

  {{glob '_src/views/slides/css/smacss.html' }}
  {{glob '_src/views/slides/css/smacss-principles.html' }}

  {{glob '_src/views/slides/css/oocss.html' }}
  {{glob '_src/views/slides/css/oocss-example.html' }}

  {{glob '_src/views/slides/css/bem.html' }}
  {{glob '_src/views/slides/css/bem-syntax.html' }}
  {{glob '_src/views/slides/css/bem-example.html' }}

  {{glob '_src/views/slides/css/js-binding.html' }}

  {{glob '_src/views/slides/css/specificity-graph.html' }}
</section>


<section id="outro">
  {{glob '_src/views/slides/css/conclusion.html' }}
</section>

{{>outro}}
