---
title: "Using a font loader"
theme: "decadecity"
strap: true
---
{{>intro}}

<section>
  {{glob '_src/views/slides/fling/title-sessions.html' }}
</section>

<section>
  {{glob '_src/views/slides/font-loader/problem.html' }}
  {{glob '_src/views/slides/font-loader/solution.html' }}
  {{glob '_src/views/slides/font-loader/what-is-a-font-loader.html' }}
  {{glob '_src/views/slides/font-loader/how-it-works.html' }}
  {{glob '_src/views/slides/font-loader/define-fonts.html' }}
  {{glob '_src/views/slides/font-loader/javascript.html' }}
  {{glob '_src/views/slides/font-loader/link.html' }}
  {{glob '_src/views/slides/font-loader/include-font-loader.html' }}
  {{glob '_src/views/slides/font-loader/class-hooks.html' }}
  {{glob '_src/views/slides/font-loader/css.html' }}
  {{glob '_src/views/slides/font-loader/adjustments.html' }}
  {{glob '_src/views/slides/font-loader/winnar.html' }}
</section>

{{>outro}}

