---
title: "What has jQuery ever done for us?"
theme: "decadecity"
strap: "true"
---
{{>intro}}

<section>
  {{glob '_src/views/slides/fling/title-sessions.html' }}
</section>

<section>
  {{glob '_src/views/slides/jquery/jquery.html' }}
</section>

<section>
  {{glob '_src/views/slides/jquery/browser-compatibility.html' }}
</section>

<section>
  {{glob '_src/views/slides/jquery/utility-functions.html' }}
  {{glob '_src/views/slides/jquery/short-history.html' }}
  {{glob '_src/views/slides/jquery/underscore.html' }}
</section>

<section>
  {{glob '_src/views/slides/jquery/qsa.html' }}
  {{glob '_src/views/slides/jquery/qsa-vs-jquery.html' }}
</section>

<section>
  {{glob '_src/views/slides/jquery/ael.html' }}
  {{glob '_src/views/slides/jquery/ael-vs-jquery.html' }}
</section>

<section>
  {{glob '_src/views/slides/jquery/ajax.html' }}
  {{glob '_src/views/slides/jquery/xhr-vs-jquery.html' }}
</section>

<section>
  {{glob '_src/views/slides/jquery/pythons.html' }}
</section>


{{>outro}}
