---
title: "Progressive Enhancement"
theme: "decadecity"
strap: "true"
---
{{>intro}}
<section>
  {{glob '_src/views/slides/pe/progressive_enhancement.html' }}
  {{glob '_src/views/slides/pe/engineering_principle.html' }}
</section>

<section>
  {{glob '_src/views/slides/pe/history_of_the_web-early_web.html' }}
  {{glob '_src/views/slides/pe/history_of_the_web-browser_wars.html' }}
  {{glob '_src/views/slides/pe/history_of_the_web-web2.html' }}
  {{glob '_src/views/slides/pe/history_of_the_web-browser_wars_2.html' }}
  {{glob '_src/views/slides/pe/history_of_the_web-mobiles.html' }}
  {{glob '_src/views/slides/pe/history_of_the_web-html5.html' }}
</section>

<section>
  {{glob '_src/views/slides/pe/older_browsers.html' }}
  {{glob '_src/views/slides/pe/chrome_vs_safari.html' }}
  {{glob '_src/views/slides/pe/users_and_browsers.html' }}
</section>

<section>
  {{glob '_src/views/slides/pe/javascript.html' }}
  {{glob '_src/views/slides/pe/who_disables_javascript.html' }}
  {{glob '_src/views/slides/pe/not_just_disabling_javascript.html' }}
  {{glob '_src/views/slides/pe/network_failures.html' }}
  {{glob '_src/views/slides/pe/content_blockers.html' }}
</section>

<section>
  {{glob '_src/views/slides/pe/acceptable_failures.html' }}
  {{glob '_src/views/slides/pe/acceptable_casualties.html' }}
</section>

<section>
  {{glob '_src/views/slides/pe/progressive_ehnancement_principles.html' }}
</section>

<section>
  {{glob '_src/views/slides/pe/baseline.html' }}
  {{glob '_src/views/slides/pe/baseline-ecommerce.html' }}
  {{glob '_src/views/slides/pe/enhance-ecommerce.html' }}
  {{glob '_src/views/slides/pe/foundations.html' }}
</section>


<section>
  {{glob '_src/views/slides/pe/fault_tolerance.html' }}
</section>


<section>
  {{glob '_src/views/slides/pe/testing.html' }}
  {{glob '_src/views/slides/pe/t-skills.html' }}
  {{glob '_src/views/slides/pe/plus-testing.html' }}
  {{glob '_src/views/slides/pe/testing-functional.html' }}
  {{glob '_src/views/slides/pe/testing-compatibility.html' }}
  {{glob '_src/views/slides/pe/testing-operational.html' }}
</section>

<!--

instrumentation - analytics for devs.



 - know what's happening on your site
 - report back what features are being used
 - report back errors
 - you won't catch everything but you will get a sample

-->

<section>
  {{glob '_src/views/slides/pe/enable-complex.html' }}
<!--

where do you spend your time.

-->
  {{glob '_src/views/slides/pe/technical-debt.html' }}
  {{glob '_src/views/slides/pe/technical-investment.html' }}
</section>

<section>
  {{glob '_src/views/slides/pe/recap.html' }}
</section>

{{>outro}}
