---
title: "Introduction to<br/>web page performance"
theme: "decadecity"
strap: "true"
---
{{>intro}}

<section>
  {{glob '_src/views/slides/perf/what-do-we-mean.html' }}
  {{glob '_src/views/slides/perf/why-does-it-matter.html' }}
</section>

<section>
  {{glob '_src/views/slides/perf/caveat.html' }}
</section>

<section>
  {{glob '_src/views/slides/perf/waterfall-diagrams.html' }}
</section>

<section>
  {{glob '_src/views/slides/perf/browser-rendering.html' }}
  {{glob '_src/views/slides/perf/network-request.html' }}
  {{glob '_src/views/slides/perf/dom-render.html' }}
  {{glob '_src/views/slides/perf/css-render.html' }}
  {{glob '_src/views/slides/perf/js-render.html' }}
  {{glob '_src/views/slides/perf/page-render.html' }}
  {{glob '_src/views/slides/perf/blocking-and-non-blocking.html' }}
  {{glob '_src/views/slides/perf/key-points.html' }}
</section>

<section>
  {{glob '_src/views/slides/perf/critical-path.html' }}
  {{glob '_src/views/slides/perf/requests-and-data.html' }}
</section>

<section>
  {{glob '_src/views/slides/perf/unblocking-first-paint.html' }}
  {{glob '_src/views/slides/perf/hic-sunt-dracones.html' }}
  {{glob '_src/views/slides/perf/asynchronous-javascript.html' }}
  {{glob '_src/views/slides/perf/inline-css.html' }}
  {{glob '_src/views/slides/perf/first-paint-unblocked.html' }}
</section>

<section>
  {{glob '_src/views/slides/perf/resources.html' }}
</section>

{{>outro}}
